<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Authors</title>
    <script src="../Scripts/angular.min.js"></script>
    <script src="modules.js"></script>
    <script src="app.js"></script>
    
    <!--NuGet ?-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
    
</head>
<body>
    <div ng-app="bookstoreApp" ng-controller="bookstoreCtrl">

        <table data-ng-controller="bookstoreCtrl">
            <input type="text" ng-model="authors"/>
            <div ng-repeat="(key, value) in authors"> {{value}} </div>
    </div>


    
</body>
</html>


